@()
<!DOCTYPE html>
<html lang='en' xmlns:ng="http://angularjs.org">
  <head>
    <base href='/'/>
    <meta charset="utf-8"/>
    <title>clide 2</title>
    <link rel='stylesheet' media='screen' href='//cdnjs.cloudflare.com/ajax/libs/codemirror/3.16.0/codemirror.min.css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet'    media='screen'   href='@routes.Assets.at("stylesheets/colors/yellow.css")' id='theme'>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>    
    <script type="text/javascript" src="//use.typekit.net/bzl6miy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-cookies.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap.min.js'></script>    
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/codemirror/3.16.0/codemirror.min.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/codemirror/3.16.0/addon/mode/overlay.js'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/modes/isabelle.js").url'></script>
    @helper.requireJs(core=routes.Assets.at("javascripts/require.js").url, module=routes.Assets.at("javascripts/main").url)
  </head>
  <body ng-controller='AppController' ng-class='{ ide: ide }' class='red'>
    <div id='loading' class='dialogOuterContainer'>
      <div class='dialogInnerContainer'>
        <div class='dialog'>
          <div class='container'>
            <div class='row'>
              <div class='col-md-6 col-md-offset-3'>
                <h2 class='title'>Loading</h2>
                Please wait, while clide is getting ready for you.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <noscript>
      <div class='dialogOuterContainer'>
        <div class='dialogInnerContainer'>
          <div class='dialog'>
            <div class='container'>
              <div class='row'>
                <div class='col-md-6 col-md-offset-3'>
                  <h2 class='title'>JavaScript is Disabled :(</h2>
                  Your browser does not seem to execute JavaScript. Please enable and reload.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </noscript>    
    <div ng-include='"@routes.Assets.at("partials/clui/toasts.html")"'></div>
    <div ng-include='"@routes.Assets.at("partials/clui/dialog.html")"'></div>
    <div ng-include='"@routes.Assets.at("partials/clui/contextmenu.html")"'></div>
    <div id='root' ng-view>
    </div>
  </body>
</html>