<div ng-controller='DialogController' ng-show='dialog.current'>
  <dialog>
    <div class='row'>
      <div class='col-sm-6 col-sm-offset-3'>
        <h2 class='title' ng-bind='dialog.current.title'></h2>
        <form role='form'>
          <p class='text-danger' ng-show='dialog.current.error' ng-bind='dialog.current.error'></p>
          <p ng-bind='dialog.current.text'></p>
          <div ng-repeat='query in dialog.current.queries' ng-switch='query.type'>
            <div ng-switch-when='text' class='form-group'>
              <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
              <input class='form-control' ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-if='$index==0' type='text' placehoder='{{query.placeholder}}' ng-model='query.value' autofocus></input>
              <input class='form-control' ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-if='$index>0' type='text' placehoder='{{query.placeholder}}' ng-model='query.value'></input>
            </div>
            <div ng-switch-when='email' class='form-group'>
              <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
              <input class='form-control' ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-if='$index==0' type='email' placehoder='{{query.placeholder}}' ng-model='query.value' autofocus></input>
              <input class='form-control' ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-if='$index>0' type='email' placehoder='{{query.placeholder}}' ng-model='query.value'></input>
            </div>
            <div ng-switch-when='password' class='form-group'>
              <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
              <input class='form-control' ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-if='$index==0' type='password' placehoder='{{query.placeholder}}' ng-model='query.value' autofocus></input>
              <input class='form-control' ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-if='$index>0' type='password' placehoder='{{query.placeholder}}' ng-model='query.value'></input>
            </div>
            <div ng-switch-when='checkbox' class='checkbox'>
              <label>
                <input ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' type='checkbox' placehoder='{{query.placeholder}}' ng-model='query.value'></input> {{query.text}}
              </label>
            </div>
            <div ng-switch-when='textarea' class='form-group'>
              <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
              <textarea class='form-control' ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-model='query.value'></textarea>
            </div>
            <div ng-switch-when='select' class='form-group'>
              <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
              <select class='form-control' ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-model='query.value'
                      ng-options='option.text for option in query.options'>
              </select>
            </div>
            <div ng-switch-default class='form-group'>
              <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
              <input class='form-control' type="{{query.type}}" ng-disabled='dialog.current.wait' id='dialog-{{query.name}}' ng-model='query.value'></textarea>
            </div>
          </div>
          <div class='clearfix'></div>
          <div class='pull-right'>
            <button class='btn' ng-disabled='dialog.current.wait' type='{{button.type}}' ng-repeat='button in dialog.current.buttons' ng-class='{ "btn-primary": $index==0, "btn-default": $index!=0 }' ng-click='dialog.next(button.action)'>{{button.text}}</button>
          </div>
        </form>
      </div>
    </div>
  </dialog>
</div>
