<div id='backstage'>
  <div class='container'>
    <h1 class='title'>{{user}}'s backstage area</h1>
    <div class='row'>
      <div class='col-sm-4 col-md-3'>
        <div>
          <h2>Projects
          <div class='btn-group pull-right'>
            <a class='btn btn-default' ng-click='createProject()'><i class="fa fa-plus"></i></a>
          </div>
          </h2>
          <p ng-show='Projects.projects.length==0' class='alert alert-info'>
            You don't have any projects associated with your account yet. Get started by <a class='alert-link' ng-click='createProject()'>creating a new project</a>.
          </p>
          <div class='list-group' ng-show='Projects.projects.length > 0'>
            <a ng-repeat='project in Projects.projects' context-menu="projectContextMenu(project)" class='list-group-item' ng-class='{ active: project==selectedProject }' ng-click='selectProject(project)' ng-dblclick='start()'>
              <h4 class='list-group-item-heading'>{{project.owner}}/{{project.name}}</h4>
              <p class='list-group-item-text' ng-bind='project.description'></p>
            </a>
          </div>
          <h4>Collaborating</h4>
          <p ng-show='Projects.otherProjects.length==0' class='alert alert-info'>
            You have not yet been invited to collaborate in any project.
          </p>
          <div class='list-group' ng-show='Projects.otherProjects.length > 0'>
            <a ng-repeat='project in Projects.otherProjects' class='list-group-item' ng-class='{ active: project==selectedProject }' ng-click='selectProject(project)' ng-dblclick='start()'>
              <h4 class='list-group-item-heading'>{{project.owner}}/{{project.name}}</h4>
              <p class='list-group-item-text' ng-bind='project.description'></p>
            </a>
          </div>
        </div>
        <div>
          <h2>Profile</h2>
          <p><img class='gravatar' src='http://gravatar.com/avatar/{{gravatar}}?d=identicon&s=400'></img></p>
          <ul class='list-unstyled fa-ul'>
          <li><i class='fa fa-li fa-user'></i> {{user}}</li>
          <li><i class='fa fa-li fa-envelope'></i> {{email}}</li>
          <li><i class='fa fa-li fa-sign-blank' style='color:#119900'></i><span class='dropdown-toggle' data-toggle='dropdown'>change preferred color...</span></li>
          <li><i class='fa fa-li fa-signout'></i><a ng-click='logout()'>log out</a></li>
          </ul>
        </div>
      </div>
      <div class='col-sm-8 col-md-9'>
        <div ng-hide='selectedProject==null'>
          <h2>Project '{{selectedProject.name}}'</h2>
          <span ng-bind='selectedProject.description' contenteditable style='-webkit-user-select: auto'></span>
          <p><a ng-click='start()'>start coding...</a></p>
        </div>
        <div>
          <h2>About clide</h2>
          <p>You are looking at version {{version}}.</p>
          <p>Copyright 2011-2013 by <a href='http://github.com/martinring'>Martin Ring</a>.</p>
          <p>The source code is hosted on <a href='http://github.com/martinring/clide2'>github</a>.</p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <small class='text-muted pull-right'>
        &copy; 2012-2013 Martin Ring - Licensed under LGPL v3 - You're looking at version {{version}}. Last updated {{date}}.
        </small>
      </div>
    </div>
  </div>
</div>
