<div id='ide' ng-class='{sidebar:sidebar,extendedStatusbar:output}'>
  <div ng-class='{extendedStatusbar:output}'>    
    <nav id="ribbon">
      <ul class="nav menu" ng-init='sidebarSection="files"'>
        <li title='Files' ng-click='select("files")' ng-class='{active: sidebarSection=="files"}'><i class='icon-list-ul'></i></li>
        <li title='Collaboration' ng-click='select("collab")' ng-class='{active: sidebarSection=="collab"}'><i class='icon-group'></i></li>        
        <li title='Edit' ng-click='select("edit")' ng-class='{active: sidebarSection=="edit"}'><i class='icon-pencil'></i></li>
        <li title='View' ng-click='select("view")' ng-class='{active: sidebarSection=="view"}'><i class='icon-eye-open'></i></li>
        <li title='Settings' ng-click='select("settings")' ng-class='{active: sidebarSection=="settings"}'><i class='icon-gear'></i></li>
        <li title='Help' ng-click='select("help")' ng-class='{active: sidebarSection=="help"}'><i class='icon-question-sign'></i></li        
      </ul>
      <div id="sidebarButton" ng-click='sidebar=!sidebar'><i class='icon-expand'></i></div>
    </nav>
    <div id="sidebarContainer">
      <div id="search">
        <div id="searchButton" ng-click='sidebar=true'><i class='icon-search'></i></div>
        <input id="searchBox" ng-model='search.name'></input>
      </div>
      <a id='backstageButton' title='Backstage' href='/{{user.username}}/backstage'><i class='icon-arrow-right'></i></a>
      <nav id="sidebar">
        <ul id="sidebarContent" class='touchScroll'>
          <li class="section" id='section-files' ng-class='{active: sidebarSection=="files"}' ng-click='sidebarSection="files"'>            
            <h3>Files
            <div class='pull-right btn-group' ng-show='files.state=="connected"'>
              <a class='btn btn-default' ng-click='browseTo(files.currentDir.info.path.slice(0,-1))' ng-disabled='files.currentDir.info.parent==null'>
                <i class='icon-level-up'></i>
              </a>
              <a class='btn btn-default' ng-click='createFolder(files.currentDir.info)'>
                <i class="icon-folder-close-alt"></i>
              </a>
              <a class='btn btn-default' ng-click='createFile(files.currentDir.info)'>
                <i class="icon-file-alt"></i>
              </a>
            </div>
            </h3>
            <ul class="breadcrumb" ng-show='files.state=="connected"'>
              <li ng-repeat='segment in files.currentDir.path'>                
                <a ng-click='browseTo(segment.path)' ng-show='segment.name != "$home"'>
                  {{segment.name}}
                </a>
                <a ng-click='browseTo(segment.path)' ng-show='segment.name == "$home"'>
                  <i class='icon-home'></i>
                </a>
              </li>
            </ul>            
            <div class='list-group' ng-show='files.state=="connected"'>
              <a ng-repeat='file in files.currentDir.files | orderBy:["-isDirectory","+name"]'
                 ng-click='openFile(file)'                
                 class='list-group-item'
                 context-menu='fileContextMenu(file)'
                 ng-class='{ active: file.id==session.me.activeFile, open: file.doc!=null, "text-muted": file.deleted }'>
                 <i class="icon-folder-open icon-fixed-width" ng-show='file.loading'></i><i ng-show='!file.loading' class='icon-fixed-width' ng-class='{ "icon-folder-close": file.isDirectory, "icon-file": !file.isDirectory }'></i> {{file.name}}
                 <span class='pull-right'>
                   <i class='icon-stop color-{{user.color}}' ng-repeat ='user in session.collaborators | filter:{active:true,activeFile:file.id} ' title='{{user.user}}'></i>
                 </span>
              </a>              
              <div class='placeholder' ng-if='files.currentDir.files.length == 0'>
                This folder is empty. Create a <a ng-click='createFile(files.currentDir.info)'>new file</a> or <a ng-click='createFolder(files.currentDir.info)'>folder</a> to get started.
              </div>
            </div>
            <div class='alert alert-info' ng-show='files.state=="connecting"'>
              Connecting to server...
            </div>            
            <div class='alert alert-warning' ng-show='files.state=="disconnected"'>
              The connection to the server file system closed unexpectedly. Please make sure, you are connected to the Internet and then try to <a ng-click='reconnect()'>reconnect</a>.
            </div>
          </li>
          <li class="section" id='section-collab' ng-class='{active: sidebarSection=="collab"}' ng-click='sidebarSection="collab"'>
            <div ng-show='session.state=="connected"' class='pull-right' style='position:relative'>              
              <span class='btn dropdown-toggle bgcolor-{{session.me.color}}' style='color:white' title='click to choose color'><i class='icon-user'></i></span>
              <ul class="dropdown-menu" role='menu'>
                <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('crimson')"><i class='icon-fixed-width icon-stop color-crimson'></i> Crimson</a></li>
                <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('red')"><i class='icon-fixed-width icon-stop color-red'></i> Red</a></li>
                <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('orange')"><i class='icon-fixed-width icon-stop color-orange'></i> Orange</a></li>
                <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('yellow')"><i class='icon-fixed-width icon-stop color-yellow'></i> Yellow</a></li>
                <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('lime')"><i class='icon-fixed-width icon-stop color-lime'></i> Lime</a></li>              
                <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('cyan')"><i class='icon-fixed-width icon-stop color-cyan'></i> Cyan</a></li>
                <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('blue')"><i class='icon-fixed-width icon-stop color-blue'></i> Blue</a></li>
                <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('violet')"><i class='icon-fixed-width icon-stop color-violet'></i> Violet</a></li>
              </ul>                
            </div>  
            <h3>Collaboration</h3>      
            <div ng-show="session.state=='connected'">
              <div ng-show='session.me'>
                <p>                
                  <ng-pluralize count='session.collaborators.length' 
                                when="{'0': 'You are currently the only user in this project.',
                                       '1': 'One other user is participating in this project:',
                                       '2': 'Two other users are participating in this project:',
                                       'other': '{} other users are participating in this project:'}">
                  </ng-pluralize>
                </p>
              </div>
              <ul class='list-group'>                    
                <li class='list-group-item' ng-repeat="user in session.collaborators | orderBy:['-active','+name']" ng-class="{ 'text-muted': !user.active }" title='id: {{user.id}}'>
                  <span class='label bgcolor-{{user.color}}'><i class='icon-user'></i></span> {{user.user}}<span class='badge' ng-show='user.active'>online</span>
                </li>
              </ul>                            
              <p><a ng-click='invite()'>invite a collaborator...</a></p>
            </div>
            <div class='alert alert-info' ng-show='session.state=="connecting"'>
              Connecting to server...
            </div>            
            <div class='alert alert-warning' ng-show='session.state=="disconnected"'>
              The connection to the collaboration system closed unexpectedly. Please make sure, you are connected to the Internet and then try to <a ng-click='reconnectSession()'>reconnect</a>.
            </div>
          </li>
          <li class="section" id='section-edit' ng-class='{active: sidebarSection=="edit"}' ng-click='sidebarSection="edit"'>
            <h3>Edit</h3>   
            <div class='list-group'>
              <a class='list-group-item'>
                <i class='icon-cut'></i> Cut
              </a>
              <a class='list-group-item'>
                <i class='icon-copy'></i> Copy
              </a>
              <a class='list-group-item'>
                <i class='icon-paste'></i> Paste
              </a>                              
            </div>
          </li>
          <li class="section" id='section-view' ng-class='{active: sidebarSection=="view"}' ng-click='sidebarSection="view"'>
            <h3>View</h3>
            <div class='form-group'>
              <div class='checkbox'>                
                <label>
                  <input type='checkbox' ng-model='showLineNumbers'> Show Line Numbers
                </label>
              </div>
            </div>
            <div class='form-group'>
              Base Font Family
              <select ng-model='editorFont' class='form-control'>
                <option value='Inconsolata'>Inconsolata (default)</option>
                <optgroup label='Monospaced Fonts'>                
                  <option ng-repeat='font in fonts.monospace' value='{{font}}'>{{font}}</option>
                </optgroup>
                <optgroup label='Mathematical Fonts'>
                  <option ng-repeat='font in fonts.math' value='{{font}}'>{{font}}</option>
                </optgroup>
              </select>
            </div>
            <div class='form-group'>
              Font Size
              <input type='number' ng-model='editorFontSize' class='form-control'/>
            </div>
          </li>
          <li class="section" id='section-settings' ng-class='{active: sidebarSection=="settings"}' ng-click='sidebarSection="settings"'>
            <h3>Settings</h3>            
                  
          </li>
          <li class="section" id='section-help' ng-class='{active: sidebarSection=="help"}' ng-click='sidebarSection="help"'>
            <h3>Help</h3>  
            (c) 2012-2013 by Martin Ring
          </li>
        </ul>
      </nav>
      <div id='content'>
        <div class="tabs">
          <ul class="headers">
            <li ng-repeat='file in session.openFiles' ng-class='{active: session.me.activeFile==file.id}' ng-show='session.state=="connected"'>
              <i class='icon-stop icon-fixed-width color-{{user.color}}' ng-repeat ='user in session.collaborators | filter:{active:true,activeFile:file.id}' title='{{user.user}}'></i>
              <span ng-click='openFile(file.id)'>{{file.name}}</span>
              <button type="button" class="close" ng-click='closeFile(file.id)' aria-hidden="true">&times;</button>
            </li>
          </ul>
          <div ng-show='session.state=="connected" && session.activeDoc()' class="content {{session.me.color}}">
            <editor document='session.activeDoc()' font='editorFont' font-size='editorFontSize' line-numbers='showLineNumbers'></editor>
          </div>
        </div>
      </div>
      <div id="statusbar"> 
        <div>
          <ul class="buttons">
            <li id="consoleButton" 
                ng-click="toggleChat()"
                ng-class="{active:showChat}">
                Chat <span class='badge' ng-show='unreadChatMessages > 0'>{{unreadChatMessages}}</span>
            </li>
          </ul>
          <ul class="statusMessages" ng-mousedown='startSlidebar($event)'>
            <li id="syncState">{{session.syncState()}}</li>
            <li id="traffic">{{traffic.in}}/{{traffic.out}}</li>
            <li id="sessionStatus" class="phase">
              <i class='icon-cloud'></i>
            </li>
          </ul>
        </div>
        <div id="output">                      
          <form ng-submit='chat()' name='chatForm'>
            <div class='input-group'>
              <input ng-model='chatMessage' class='form-control' required>
              <span class='input-group-btn'>
                <button class='btn btn-primary' type='submit' ng-disabled='!chatForm.$valid || app.wait'><i class='icon-arrow-right'></i></button>
              </span>
            </div>
          </form>
          <div class='history'>
            <ul style='margin: 0; list-style: none; padding: 0'>
              <li ng-repeat='message in session.chat track by $index'>
                <small><span class='text-muted'>{{date(message.t) | date:'MM/dd/yyyy HH:mm:ss' }}</span></small><br/>
                <span ng-class='{"text-muted": message.s == session.me.user}'>{{message.s}}: {{message.m}}</span>
              </li>
            </ul>                
          </div>
      </div>  
    </div>
  </div>
</div>
