<div id='ide' ng-class='{sidebar:sidebar||searchActive,extendedStatusbar:output}'>
  <div ng-class='{extendedStatusbar:output}'>
    <nav id="ribbon" class='bgcolor-{{session.me.color}}'>
      <ul class="nav menu" ng-init='sidebarSection="files"'>
        <li title='Files' ng-click='select("files")' ng-class='{active: sidebarSection=="files"}'><i class='fa fa-list'></i></li>
        <li title='Collaboration' ng-click='select("collab")' ng-class='{active: sidebarSection=="collab"}'><i class='fa fa-group'></i></li>
        <!--<li title='Edit' ng-click='select("edit")' ng-class='{active: sidebarSection=="edit"}'><i class='fa fa-pencil'></i></li>-->
        <li title='View' ng-click='select("view")' ng-class='{active: sidebarSection=="view"}'><i class='fa fa-eye'></i></li>
        <!--<li title='Settings' ng-click='select("settings")' ng-class='{active: sidebarSection=="settings"}'><i class='fa fa-gear'></i></li>-->
        <li title='Help' ng-click='select("help")' ng-class='{active: sidebarSection=="help"}'><i class='fa fa-question-circle'></i></li
      </ul>
      <div id="sidebarButton" ng-click='sidebar=!sidebar'><i class='fa fa-arrow-circle-right'></i></div>
    </nav>
    <div id="sidebarContainer">
      <!--<div id="search" class='bordercolor-{{session.me.color}}'>
        <input id="searchBox" ng-model='search.name' ng-focus='searchActive=true' ng-blur='searchActive=false'>
          <div class="searchButton bgcolor-{{session.me.color}}" ng-click='sidebar=true'><i class='fa fa-search'></i></div>
        </input>
      </div>-->
      <a id='backstageButton' title='Backstage' href='/{{session.me.user}}/backstage'><i class='fa fa-arrow-right'></i></a>
      <nav id="sidebar">
        <div id="sidebarContent" class='touchScroll'>
          <ul id="sidebarSections">
            <li class="section" id='section-files' ng-class='{active: sidebarSection=="files"}' ng-click='sidebarSection="files"'>
              <h3>Files
              <div class='pull-right btn-group' ng-show='files'>
                <a class='btn btn-default' ng-click='browseTo(files.currentDir.info.path.slice(0,-1))' ng-disabled='files.currentDir.info.parent==null'>
                  <i class='fa fa-level-up'></i>
                </a>
                <a class='btn btn-default' ng-click='createFolder(files.currentDir.info)'>
                  <i class="fa fa-folder-o"></i>
                </a>
                <a class='btn btn-default' ng-click='createFile(files.currentDir.info)'>
                  <i class="fa fa-file-o"></i>
                </a>
              </div>
              </h3>
              <p class='text-muted' ng-show='files.currentDir == null'>loading...</p>
              <ul class="breadcrumb" ng-show='files'>
                <li ng-repeat='segment in files.currentDir.path'>
                  <a ng-click='browseTo(segment.path)' ng-show='segment.name != "$home"'>
                    {{segment.name}}
                  </a>
                  <a ng-click='browseTo(segment.path)' ng-show='segment.name == "$home"'>
                    <i class='fa fa-fw fa-home'></i>
                  </a>
                </li>
              </ul>
              <div class='list-group' ng-show='files'>
                <a ng-repeat='file in files.currentDir.files | orderBy:["-isDirectory","+name"]'
                   ng-click='openFile(file)'
                   class='list-group-item bordercolor-{{session.me.color}}'
                   context-menu='fileContextMenu(file)'
                   ng-class='{ active: file.id==session.me.activeFile, open: file.doc!=null, "text-muted": file.deleted }'>
                   <i class="fa fa-folder-open fa-fw" ng-show='file.loading'></i><i ng-show='!file.loading' class='fa fa-fw' ng-class='{ "fa-folder": file.isDirectory, "fa-file": !file.isDirectory }'></i> {{file.name}}
                   <i ng-repeat ='user in session.collaborators | filter:{active:true}' title='{{user.user}}' class='pull-right color-{{user.color}} animate-show-fade fa fa-asterisk' ng-class='{ "fa-spin": !user.isHuman || session.fileStates[file.id][user.id].working }' ng-show='user.isHuman &&  session.fileStates[file.id][user.id].looking || session.fileStates[file.id][user.id].working'></i>
                </a>
                <div class='placeholder' ng-if='files.currentDir.files.length == 0'>
                  This folder is empty. Create a <a ng-click='createFile(files.currentDir.info)'>new file</a> or <a ng-click='createFolder(files.currentDir.info)'>folder</a> to get started.
                </div>
              </div>
              <div class='alert alert-info' ng-show='files.state=="connecting"'>
                Connecting to server...
              </div>
              <div class='alert alert-warning' ng-show='files.state=="disconnected"'>
                The connection to the server file system closed unexpectedly. Please make sure, you are connected to the Internet and then try to <a class='alert-link' ng-click='reconnect()'>reconnect</a>.
              </div>
            </li>
            <li class="section" id='section-collab' ng-class='{active: sidebarSection=="collab"}' ng-click='sidebarSection="collab"'>
              <div ng-show='session.state=="connected"' class='pull-right' style='position:relative'>
                <span class='btn dropdown-toggle bgcolor-{{session.me.color}}' style='color:white' title='click to choose color'><i class='fa fa-user'></i></span>
                <ul class="dropdown-menu" role='menu'>
                  <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('crimson')"><i class='fa fa-fw fa-stop color-crimson'></i> Crimson</a></li>
                  <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('red')"><i class='fa fa-fw fa-stop color-red'></i> Red</a></li>
                  <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('orange')"><i class='fa fa-fw fa-stop color-orange'></i> Orange</a></li>
                  <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('yellow')"><i class='fa fa-fw fa-stop color-yellow'></i> Yellow</a></li>
                  <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('lime')"><i class='fa fa-fw fa-stop color-lime'></i> Lime</a></li>
                  <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('cyan')"><i class='fa fa-fw fa-stop color-cyan'></i> Cyan</a></li>
                  <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('blue')"><i class='fa fa-fw fa-stop color-blue'></i> Blue</a></li>
                  <li class='menu-item' role='presentation'><a role='menuitem' ng-click="setColor('violet')"><i class='fa fa-fw fa-stop color-violet'></i> Violet</a></li>
                </ul>
              </div>
              <h3>Collaboration</h3>
              <p class='text-muted' ng-show='session.collaborators == null'>loading...</p>
              <div ng-show="session.state=='connected'">
                <div ng-show='session.me'>
                  <p>
                    <ng-pluralize count='session.collaborators.length'
                                  when="{'0': 'You are currently the only collaborator',
                                         '1': 'One other collaborator is participating',
                                         '2': 'Two other collaborators are participating',
                                         'other': '{} other collaborators are participating'}">
                    </ng-pluralize> in this project:
                  </p>
                <ul class='list-group'>
                  <li class='list-group-item' context-menu='userContextMenu(user)' ng-repeat="user in session.collaborators | orderBy:['-isHuman','-active','+name']" ng-class="{ 'text-muted': !user.active }" title='id: {{user.id}}'>
                    <i class='fa fa-fw color-{{user.color}}' ng-class="{'fa-user': user.isHuman, 'fa-cloud': !user.isHuman}"></i> {{user.user}}<span class='badge' ng-show='user.active'>online</span>
                    <div class='form-group' ng-show='user.active && session.activeAnnotations()[user.id].length > 0'>
                      <div class='checkbox' ng-repeat='stream in session.activeAnnotations()[user.id]'>
                        <div ng-click='stream.show ? unsubscribe(session.me.activeFile,user.id,stream.name) : subscribe(session.me.activeFile,user.id,stream.name)'><i class='fa' ng-class="{'fa-eye': stream.show ,'fa-eye-slash': !stream.show}"></i> {{stream.name}}</div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class='list-group'>
                  <a class='list-group-item' ng-click='invite()'>
                    <i class='fa fa-fw fa-envelope'></i> invite a collaborator...
                  </a>
                </div>
              </div>
              <div class='alert alert-info' ng-show='session.state=="connecting"'>
                Connecting to server...
              </div>
              <div class='alert alert-warning' ng-show='session.state=="disconnected"'>
                The connection to the collaboration system closed unexpectedly. Please make sure, you are connected to the Internet and then try to <a class='alert-link' ng-click='reconnectSession()'>reconnect</a>.
              </div>
            </li>
            <!--<li class="section" id='section-edit' ng-class='{active: sidebarSection=="edit"}' ng-click='sidebarSection="edit"'>
              <h3>Edit</h3>
              <div class='list-group'>
                <a class='list-group-item'>
                  <i class='fa fa-fw fa-cut'></i> Cut
                </a>
                <a class='list-group-item'>
                  <i class='fa fa-fw fa-copy'></i> Copy
                </a>
                <a class='list-group-item'>
                  <i class='fa fa-fw fa-paste'></i> Paste
                </a>
              </div>
            </li>-->
            <li class="section" id='section-view' ng-class='{active: sidebarSection=="view"}' ng-click='sidebarSection="view"'>
              <h3>View</h3>
              <div class='form-group'>
                <div class='checkbox'>
                  <label>
                    <input type='checkbox' ng-model='showLineNumbers'> Show Line Numbers
                  </label>
                </div>
                <div class='checkbox'>
                  <label>
                    <input type='checkbox' ng-model='session.inline.errors'> Inline Error Messages
                  </label>
                </div>
                <div class='checkbox'>
                  <label>
                    <input type='checkbox' ng-model='session.inline.warnings'> Inline Warning Messages
                  </label>
                </div>
                <div class='checkbox'>
                  <label>
                    <input type='checkbox' ng-model='session.inline.output'> Inline Output Messages
                  </label>
                </div>
              </div>
              <div class='form-group'>
                Base Font Family:
                <div style='position:relative'>
                  <button class='btn btn-default btn-block dropdown-toggle' data-toggle='dropdown' style='font-family:{{editorFont}}'>{{editorFont}}</button>
                  <ul class="dropdown-menu" role='menu'>
                    <li role='presentation' class='dropdown-header'>Monospaced Fonts</li>
                    <li ng-repeat='font in fonts.monospace' class='menu-item' role='presentation'><a role='menuitem' ng-click="setFont(font)" style='font-family:{{font}};font-weight:normal'>{{font}}</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role='presentation' class='dropdown-header'>Mathematical Fonts</li>
                    <li ng-repeat='font in fonts.math' class='menu-item' role='presentation'><a role='menuitem' ng-click="setFont(font)" style='font-family:{{font}}; font-weight:normal'>{{font}}</a></li>
                  </ul>
                </div>
              </div>
              <div class='form-group'>
                Font Size: <span class='text-muted pull-right'>{{editorFontSize}}px<span ng-show='editorFontSize == editorFontSizeDefault'> (default)</span></span>
                <input type='range' min='6' max='32' ng-model='editorFontSize' class='form-control'/>
              </div>
            </li>
            <!--<li class="section" id='section-settings' ng-class='{active: sidebarSection=="settings"}' ng-click='sidebarSection="settings"'>
              <h3>Settings</h3>
            </li>-->
            <li class="section" id='section-help' ng-class='{active: sidebarSection=="help"}' ng-click='sidebarSection="help"'>
              <h3>Help</h3>
              &copy; 2012-2013 Martin Ring<br/>
              Licensed under LGPL v3<br/>
              Version {{version}}, last updated {{date}}.
            </li>
          </ul>
        </div>
      </nav>
      <div id='content'>
        <div class="tabs">
          <ul class="headers" ng-show='session.state=="connected"'>
            <li ng-repeat='file in session.openFiles' class='{{ (file.id === session.me.activeFile) ? "active" : ""}}'>
              <a ng-click='openFile(file.id)'>{{file.name}}</a>
              <button type="button" class="close" aria-hidden="true" ng-click='closeFile(file.id)'>&times;</button>
            </li>
          </ul>
          <div ng-show='session.state=="connected" && session.activeDoc()' class="content {{session.me.color}}">
            <editor document='session.activeDoc()' font='editorFont' font-size='editorFontSize' line-numbers='showLineNumbers'></editor>
          </div>
        </div>
      </div>
      <div id="statusbar">
        <div>
          <ul class="buttons">
            <li id='chatButton'
                ng-click="toggleChat()"
                ng-class="{active:showChat}">
                Chat <span class='badge' ng-show='unreadChatMessages > 0'>{{unreadChatMessages}}</span>
            </li>
            <li id='outputButton'
                ng-click='toggleOutput()'
                ng-class='{active:showOutput}'>
                Output <span class='badge' ng-show='!showOutput && session.activeOutput().length > 0'><i class='fa fa-info'></i></span>
            </li>
          </ul>
          <ul class="statusMessages" ng-mousedown='startSlidebar($event)'>
            <!--<li id="syncState">{{session.syncState()}}</li>
            <li id="traffic">{{session.activeAnnotations()}}</li>
            --><li>
              <span class="color-{{session.me.color}}" title='{{session.me.user}}'>
                <i class='fa fa-asterisk' ng-class='{ "fa-spin": session.fileStates[session.me.activeFile][session.me.id].working }'></i>
              </span>
            </li>
          </ul>
        </div>
        <div id="output">
          <div ng-if='showChat'>
            <form ng-submit='chat(chatMessage);chatMessage=""' name='chatForm'>
              <div class='input-group'>
                <input ng-model='chatMessage' class='form-control' required>
                <span class='input-group-btn'>
                  <button class='btn btn-primary' type='submit' ng-disabled='!chatForm.$valid || app.wait'><i class='fa fa-envelope'></i></button>
                </span>
              </div>
            </form>
            <div class='history'>
              <ul style='margin: 0; list-style: none; padding: 0'>
                <li ng-repeat='message in session.chat track by $index'>
                  <small><span class='text-muted'>{{date(message.t) | date:'MM/dd/yyyy HH:mm:ss' }}</span></small><br/>
                  <span class='message' ng-class='{"text-muted": message.s.user == session.me.user}'><i class='fa fa-fw fa-stop' class='color-{{message.s.color}}'></i> {{message.s.user}}: <span class='message' style='font-family: {{editorFont}}'>{{message.m}}</span></span>
                </li>
              </ul>
            </div>
          </div>
          <div ng-if='showOutput' id='output-content'>
            <a class='pull-right' ng-click='detachOutput()'><i class='fa fa-external-link'></i></a>
            <ul style='margin: 0; list-style: none; padding: 0'>
              <div ng-repeat='output in session.activeOutput()'>
                <li ng-repeat='item in output.content track by $index' style='font-family: {{editorFont}}' class='outputWidget {{output.type}}' ng-bind-html='item'></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
