<div id='dialog' class='dialogContainer' style="display:none" ng-show='dialog.show'>
  <div class='dialogContainer2'>
    <div class='dialog'>      
      <div class='grayOut' ng-show='dialog.wait'>      
        <span ng-bind='dialog.task'></span>
        <spinner></spinner>
      </div>
      <div class='content'>                              
        <h1 ng-bind='dialog.title'></h1>        
        <form>
        <p class='error' ng-show='dialog.error' ng-bind='dialog.error'></p>
        <span ng-bind='dialog.message'></span>
        <span ng-repeat='query in dialog.queries' ng-switch='query.type'>
          <span ng-switch-when='text'>
            <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
            <input ng-disabled='dialog.wait' id='dialog-{{query.name}}' ng-if='$index==0' type='text' placehoder='{{query.placeholder}}' ng-model='query.value' autofocus></input>
            <input ng-disabled='dialog.wait' id='dialog-{{query.name}}' ng-if='$index>0' type='text' placehoder='{{query.placeholder}}' ng-model='query.value'></input>
          </span>
          <span ng-switch-when='email'>
            <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
            <input ng-disabled='dialog.wait' id='dialog-{{query.name}}' ng-if='$index==0' type='email' placehoder='{{query.placeholder}}' ng-model='query.value' autofocus></input>
            <input ng-disabled='dialog.wait' id='dialog-{{query.name}}' ng-if='$index>0' type='email' placehoder='{{query.placeholder}}' ng-model='query.value'></input>
          </span>  
          <span ng-switch-when='password'>
            <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
            <input ng-disabled='dialog.wait' id='dialog-{{query.name}}' ng-if='$index==0' type='password' placehoder='{{query.placeholder}}' ng-model='query.value' autofocus></input>
            <input ng-disabled='dialog.wait' id='dialog-{{query.name}}' ng-if='$index>0' type='password' placehoder='{{query.placeholder}}' ng-model='query.value'></input>
          </span>                              
          <span ng-switch-when='checkbox'>                                
            <input ng-disabled='dialog.wait' id='dialog-{{query.name}}' type='checkbox' placehoder='{{query.placeholder}}' ng-model='query.value'></input>
            <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
          </span>
          <span ng-switch-when='textarea'>
            <label for='dialog-{{query.name}}' ng-bind='query.text'></label>
            <textarea ng-disabled='dialog.wait' id='dialog-{{query.name}}' ng-model='query.value'></textarea>                
          </span>              
        </span>
        <div class='buttons'>
          <button ng-disabled='dialog.wait' type='{{button.type}}' ng-repeat='button in dialog.buttons' ng-bind='button.text' ng-class='{ default: $index == 0 }' ng-click='dialog.next(button.action)'/>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
