.cm-s-default {
  .type {
    color: #2B91AF;
  }
  .local {
    color: #5E5EFF;
  }
  .module {
    color: #2B91AF;
    font-weight: bold;
  }
  .implicit {
    border-bottom: 1px solid #ccc;
  }
  .symbol {
    color: black;
  }
  .variable {
    color: #e75;
  }
}
