.tabs {  
  ul.headers {  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @tabbar-height;

    background-color: @sidebar-background;

    .user-select(none);
    
    overflow: hidden;
    border-bottom:3px solid @sidebar-foreground;
    
    list-style: none;
    margin: 0;
    padding: 0;

    li {      
      float: left;

      vertical-align: middle;
      line-height: @tabbar-height;      
      height: @tabbar-height;

      width: auto;
      max-width: 200px;

      padding: 0 8px;      

      a{
        color: @sidebar-background-text;
        text-decoration: none;
      }

      .close {
        float: none;
        font-size: 14px;
      }

      .transition(background @fancy-transition ease);
      &:hover { background-color: @sidebar-background-hover; }

      &.active {
        background: @sidebar-foreground;
        color: @sidebar-foreground-text;
        a {
          color: @sidebar-foreground-text;          
          cursor: default;
        }
      }        
    }
  }

  .content {
    position: absolute;
    top: @tabbar-height;
    bottom: 0;
    left: 0;
    right: 0;    
  }
}