.tabs {  
  ul.headers {  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @tabbar-height;

    .user-select(none);
    
    overflow: hidden;
    border-bottom:3px solid @brand-primary;
    
    list-style: none;
    margin: 0;
    padding: 0;

    li {      
      float: left;

      vertical-align: middle;
      line-height: @tabbar-height;      
      height: @tabbar-height;

      width: auto;
      max-width: 200px;

      padding: 0 8px;      

      a{
        color: @text-color;
        text-decoration: none;
      }

      .close {
        float: none;
        font-size: 14px;
      }

      .transition(background @quick-transition ease);
      &:hover { background-color: @nav-link-hover-bg; }

      &.active {
        background: @brand-primary;
        color: white;
        a {
          color: white;          
          cursor: default;
        }
      }        
    }
  }

  .content {
    position: absolute;
    top: @tabbar-height;
    bottom: 0;
    left: 0;
    right: 0;    
  }
}