<div id='backstage'>
  <div>  
    <div class='logout'><a ng-click='logout()'></a></div>
    <h1 class='title'>{{auth.user.username}}'s backstage</h1>        
    <div class='panes'>
      <div class='section'>
        <h1>projects</h1>
        <ul id='projectList'>
          <li ng-repeat='project in projects' ng-class='{ current: project===currentProject }' ng-click='currentProject=project'>
            <span ng-bind='project.name'/>
          </li>
        </ul>
      </div>
      <div class='section' ng-hide='currentProject==null'>
        <h1>project '{{currentProject.name}}'</h1>
        <a ng-click='start()'>start coding</a>
        <h2>description</h2>
        <span ng-bind='currentProject.description' contenteditable style='-webkit-user-select: auto'/>
      </div>
      <div class='section'>
        <h1>about clide</h1>
        <p>copyright 2011-2013 by <a href='http://github.com/martinring'>Martin Ring</a>.</p>
        <p>source code is hosted on <a href='http://github.com/martinring/clide2'>github</a>.</p>              
      </div>      
    </div>  
  </div>
</div>