<div id='ide' ng-class='{sidebar:sidebar,extendedStatusbar:output}'>
  <div ng-class='{extendedStatusbar:output}'>    
    <nav id="ribbon">
      <ul class="nav menu" ng-init='sidebarSection="files"'>
        <li title='Files' ng-click='select("files")' ng-class='{active: sidebarSection=="files"}'><i class='icon-list-ul'></i></li>
        <li title='Edit' ng-click='select("edit")' ng-class='{active: sidebarSection=="edit"}'><i class='icon-pencil'></i></li>
        <li title='View' ng-click='select("view")' ng-class='{active: sidebarSection=="view"}'><i class='icon-eye-open'></i></li>
        <li title='Settings' ng-click='select("settings")' ng-class='{active: sidebarSection=="settings"}'><i class='icon-gear'></i></li>
        <li title='Help' ng-click='select("help")' ng-class='{active: sidebarSection=="help"}'><i class='icon-question-sign'></i></li        
      </ul>
      <div id="sidebarButton" ng-click='sidebar=!sidebar'><i class='icon-expand'></i></div>
    </nav>
    <div id="sidebarContainer">
      <div id="search">
        <div id="searchButton" ng-click='sidebar=true'><i class='icon-search'></i></div>
        <input id="searchBox" ng-model='search.name'></input>
      </div>
      <a id='backstageButton' title='Backstage' href='/{{user}}/backstage'><i class='icon-arrow-right'></i></a>
      <nav id="sidebar">
        <ul id="sidebarContent" class='touchScroll'>
          <li class="section" id='section-files' ng-class='{active: sidebarSection=="files"}' ng-click='sidebarSection="files"'>
            <a class='command' ng-click='createFolder(root)' title='create a folder'>
              <i class='icon-plus-sign-alt'></i>
            </a>
            <a class='command' ng-click='createFile(root)' title='create a file'>
              <i class='icon-plus'></i>
            </a>
            <h1>Files</h1>
            <script type='text/ng-template' id='file.html'>
              <i ng-class="{ 'icon-folder-close': file.files && !file.expand,
                             'icon-folder-open':  file.files && file.expand,
                             'icon-file':        !file.files }"></i>
              <div class='title' ng-click='file.expand=!file.expand' context-menu='fileContextMenu(file)'>
                <span class='name' ng-bind='file.name'/>
                <div ng-show='file.open' class="progress">
                  <div class="finished"></div>
                  <div class="running"></div>
                  <div class="warned"></div>
                  <div class="failed"></div>
                </div>
              </div>
              <ul ng-show='file.files.length > 0 && file.expand' class='treeview'>
                <li ng-repeat='file in file.files | filter:search' 
                    ng-include="'file.html'" 
                    ng-class='{ selected: file==currentFile, open: file.open }'
                    ng-click='selectFile(file)'>
                </li>                
              </ul>
              <div class='placeholder' ng-show='file.files.length == 0 && file.expand'>
                This folder is empty. Create a <a ng-click='createFile(file)'>new file</a> or <a ng-click='createFolder(file)'>folder</a>.
              </div>
            </script>
            <ul class="treeview" ng-hide='serach.name.length>0'>
              <li ng-repeat='file in root.files'
                  ng-include='"file.html"'
                  ng-class='{ selected: file==currentFile, open: file.doc!=null }'
                  ng-click='selectFile(file)'>
              </li>
              <div class='placeholder' ng-show='root==null'>
                loading...
              </div>
              <div class='placeholder' ng-show='root.files.length == 0'>
                This project is empty. Create a <a ng-click='createFile(root)'>new file</a> or <a ng-click='createFolder(root)'>folder</a>.
              </div>
            </ul>
          </li>
          <li class="section" id='section-edit' ng-class='{active: sidebarSection=="edit"}' ng-click='sidebarSection="edit"'>
            <h1>Edit</h1>   
            <ul class='treeview'>
              <li>
                <div class='icon'><i class='icon-angle-right'></i></div>
                <div class='title'>
                  <span class='name'>Clipboard</span>
                </div>
                <ul class='treeview'>
                  <li>
                    <i class='icon-cut'></i>
                    <div class='title'>
                      <span class='name'>Cut</span>
                    </div>
                  </li>
                  <li>
                    <i class='icon-copy'></i>
                    <div class='title'>
                      <span class='name'>Copy</span>
                    </div>
                  </li>
                  <li>
                    <i class='icon-paste'></i>
                    <div class='title'>
                      <span class='name'>Paste</span>
                    </div>
                  </li>              
                </ul>
              </li>
            </ul>
          </li>
          <li class="section" id='section-view' ng-class='{active: sidebarSection=="view"}' ng-click='sidebarSection="view"'>
            <h1>View</h1>            
            <div class='content'>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>         
          </li>
          <li class="section" id='section-settings' ng-class='{active: sidebarSection=="settings"}' ng-click='sidebarSection="settings"'>
            <h1>Settings</h1>            
            <div class='content'>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>         
          </li>
          <li class="section" id='section-help' ng-class='{active: sidebarSection=="help"}' ng-click='sidebarSection="help"'>
            <h1>Help</h1>  
            <div class='content'>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>                   
          </li>
        </ul>
      </nav>
      <div id='content'>
        <div class="tabs">
          <ul class="headers">
            <li ng-repeat='file in openFiles'                 
                ng-click='selectFile(file)'
                context-menu='fileContextMenu(file)'
                ng-class='{active: currentFile==file}'>
              {{file.name}} <button type="button" class="close" ng-click='closeFile(file)' aria-hidden="true">&times;</button>
            </li>
          </ul>
          <div class="content" ng-show='currentFile'>
            <editor file='currentFile'></editor>
          </div>
        </div>
      </div>
      <div id="statusbar">
        <ul class="buttons">
          <li id="consoleButton" 
              ng-click="output=!output" 
              ng-class="{active:output}">
              Output
          </li>          
        </ul>
        <ul class="statusMessages">
          <li id="traffic">{{traffic.in}}/{{traffic.out}}</li>          
          <li id="sessionStatus" class="phase">
            <i class='icon-cloud'></i>
          </li>
        </ul>        
        <div id="output"></div>
      </div>  
    </div>          
    <ul id="completion">
      <li>no matches...</li>
    </ul>
  </div>
</div>
