<div id='ide' ng-class='{sidebar:sidebar,extendedStatusbar:output}'>
  <div ng-class='{extendedStatusbar:output}'>    
    <nav id="ribbon">
      <ul class="nav menu" ng-init='sidebarSection="files"'>
        <li title='Files' ng-click='select("files")' ng-class='{active: sidebarSection=="files"}'><i class='icon-list-ul'></i></li>
        <li title='Collaboration' ng-click='select("collab")' ng-class='{active: sidebarSection=="collab"}'><i class='icon-group'></i></li>        
        <li title='Edit' ng-click='select("edit")' ng-class='{active: sidebarSection=="edit"}'><i class='icon-pencil'></i></li>
        <li title='View' ng-click='select("view")' ng-class='{active: sidebarSection=="view"}'><i class='icon-eye-open'></i></li>
        <li title='Settings' ng-click='select("settings")' ng-class='{active: sidebarSection=="settings"}'><i class='icon-gear'></i></li>
        <li title='Help' ng-click='select("help")' ng-class='{active: sidebarSection=="help"}'><i class='icon-question-sign'></i></li        
      </ul>
      <div id="sidebarButton" ng-click='sidebar=!sidebar'><i class='icon-expand'></i></div>
    </nav>
    <div id="sidebarContainer">
      <div id="search">
        <div id="searchButton" ng-click='sidebar=true'><i class='icon-search'></i></div>
        <input id="searchBox" ng-model='search.name'></input>
      </div>
      <a id='backstageButton' title='Backstage' href='/{{user}}/backstage'><i class='icon-arrow-right'></i></a>
      <nav id="sidebar">
        <ul id="sidebarContent" class='touchScroll'>
          <li class="section" id='section-files' ng-class='{active: sidebarSection=="files"}' ng-click='sidebarSection="files"'>            
            <h3>Files
            <div class='pull-right btn-group' ng-show='fileConnection()=="connected"'>
              <a class='btn btn-default' ng-click='browseTo(currentDir().info.path.slice(0,-1))' ng-disabled='currentDir().info.parent==null'>
                <i class='icon-level-up'></i>
              </a>
              <a class='btn btn-default' ng-click='createFolder(currentDir().info)'>
                <i class="icon-folder-close-alt"></i>
              </a>
              <a class='btn btn-default' ng-click='createFile(currentDir().info)'>
                <i class="icon-file-alt"></i>
              </a>
            </div>
            </h3>
            <ul class="breadcrumb" ng-show='fileConnection()=="connected"'>
              <li ng-repeat='segment in currentDir().path'>                
                <a ng-click='browseTo(segment.path)' ng-show='segment.name != "$home"'>
                  {{segment.name}}
                </a>
                <a ng-click='browseTo(segment.path)' ng-show='segment.name == "$home"'>
                  <i class='icon-home'></i>
                </a>
              </li>
            </ul>            
            <div class='list-group' ng-show='fileConnection()=="connected"'>
              <a ng-repeat='file in currentDir().files | orderBy:"name"'
                 ng-hide='file.deleted'
                 ng-click='selectFile(file)'
                 ng-dblclick='openFile(file)'
                 class='list-group-item'
                 ng-class='{ active: file.id==selectedFile, open: file.doc!=null }'>
                 <i class='icon-fixed-width' ng-class='{ "icon-folder-close": file.isDirectory, "icon-file": !file.isDirectory }'></i> {{file.name}}
                 <span class='pull-right' ng-show='file.id==selectedFile'>
                   <i ng-click='deleteFile(file)' class='icon-fixed-width icon-trash'></i>
                 </span>
              </a>              
              <div class='placeholder' ng-if='currentDir().files == 0'>
                This folder is empty. Create a <a ng-click='createFile(currentDir().info)'>new file</a> or <a ng-click='createFolder(currentDir().info)'>folder</a> to get started.
              </div>
            </div>
            <div class='alert alert-info' ng-show='fileConnection()=="connecting"'>
              Connecting to server...
            </div>            
            <div class='alert alert-warning' ng-show='fileConnection()=="disconnected"'>
              The connection to the server file system closed unexpectedly. Please make sure, you are connected to the Internet and then try to <a ng-click='reconnect()'>reconnect</a>.
            </div>
          </li>
          <li class="section" id='section-collab' ng-class='{active: sidebarSection=="collab"}' ng-click='sidebarSection="collab"'>
            <h3>Collaboration</h3>            
            <ul class='list-group'>
              <li class='list-group-item'>
                <i class='icon-fixed-width icon-user'></i> {{me().user}} ({{me().id}}) <span class='label label-success pull-right'>me</span>
              </li>            
              <li class='list-group-item' ng-repeat='user in collaborators()'>
                <i class='icon-fixed-width icon-user'></i> {{user.user}} ({{user.id}}) <span class='label label-success pull-right' ng-show='user.active'>online</span>
              </li>
            </ul>
          </li>
          <li class="section" id='section-edit' ng-class='{active: sidebarSection=="edit"}' ng-click='sidebarSection="edit"'>
            <h3>Edit</h3>   
            <ul class='treeview'>
              <li>
                <div class='icon'><i class='icon-angle-right'></i></div>
                <div class='title'>
                  <span class='name'>Clipboard</span>
                </div>
                <ul class='treeview'>
                  <li>
                    <i class='icon-cut'></i>
                    <div class='title'>
                      <span class='name'>Cut</span>
                    </div>
                  </li>
                  <li>
                    <i class='icon-copy'></i>
                    <div class='title'>
                      <span class='name'>Copy</span>
                    </div>
                  </li>
                  <li>
                    <i class='icon-paste'></i>
                    <div class='title'>
                      <span class='name'>Paste</span>
                    </div>
                  </li>              
                </ul>
              </li>
            </ul>
          </li>
          <li class="section" id='section-view' ng-class='{active: sidebarSection=="view"}' ng-click='sidebarSection="view"'>
            <h3>View</h3>            
            <div class='content'>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>         
          </li>
          <li class="section" id='section-settings' ng-class='{active: sidebarSection=="settings"}' ng-click='sidebarSection="settings"'>
            <h3>Settings</h3>            
            <div class='content'>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>         
          </li>
          <li class="section" id='section-help' ng-class='{active: sidebarSection=="help"}' ng-click='sidebarSection="help"'>
            <h3>Help</h3>  
            <div class='content'>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>                   
          </li>
        </ul>
      </nav>
      <div id='content'>
        <div class="tabs">
          <ul class="headers">
            <li ng-repeat='file in openFiles'                 
                ng-click='selectFile(file)'
                context-menu='fileContextMenu(file)'
                ng-class='{active: currentFile==file}'>
              {{file.name}} <button type="button" class="close" ng-click='closeFile(file)' aria-hidden="true">&times;</button>
            </li>
          </ul>
          <div class="content" ng-show='currentFile'>
            <editor file='currentFile'></editor>
          </div>
        </div>
      </div>
      <div id="statusbar">
        <ul class="buttons">
          <li id="consoleButton" 
              ng-click="output=!output" 
              ng-class="{active:output}">
              Output
          </li>          
        </ul>
        <ul class="statusMessages">
          <li id="traffic">{{traffic.in}}/{{traffic.out}}</li>          
          <li id="sessionStatus" class="phase">
            <i class='icon-cloud'></i>
          </li>
        </ul>        
        <div id="output"></div>
      </div>  
    </div>
  </div>
</div>
