<div id='login'>
  <div class='dialogContainer'>
    <div class='dialog'>
      <div class='content' ng-controller='LoginController'>
        <h1>welcome to clide</h1>
        <form name='loginForm' id='loginForm'>
        <p class='error' ng-bind='loginForm.error' ng-show='loginForm.error'/>
        username: <input type='text' name='username' ng-model='username'/>
        password: <input type='password' name='password' ng-model='password'/>
        <div class='buttons'>
          <a href='/signup'>Sign Up</a>
          <button type='submit' class='default' ng-click='login()'>Login</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>