<div id='signup'>
  <div class='dialogContainer'>
    <div class='dialogContainer2'>
    <div class='dialog'>
      <div class='content' ng-controller='SignupController'>
        <h1>sign up for clide</h1>        
        <form name='signupForm' id='signupForm'>          
          <p class='error' ng-bind="signupForm.error['']" ng-show="signupForm.error['']"></p>

          <label for='name'>username:</label> 
          <span class='error' ng-bind='signupForm.error.username' ng-show='signupForm.error.username'></span>
          <input type='text' ng-model='data.username' name='name' required autofocus></input>

          <label for='email'>email address:</label>
          <span class='error' ng-bind='signupForm.error.email' ng-show='signupForm.error.email'></span>
          <input type='email' ng-model='data.email' name='email' required ng-change='updateGravatar()'></input>

          <img ng-show='gravatar' class='gravatar' src='http://gravatar.com/avatar/{{gravatar}}?d=identicon&s=100'></img>

          <label for='password'>password:</label>
          <span class='error' ng-bind='signupForm.error.password' ng-show='signupForm.error.password'></span>
          <input type='password' ng-model='data.password' name='password' ng-minlength='8' required></input>
          
          <div class='buttons'>
            <button type='submit' class='default' ng-click='signup()' ng-disabled='!signupForm.$valid || app.wait'>Sign Up</button>
            <a href='/login'><button>Cancel</button></a> 
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>