<dialog id='signup'>  
  <div class='row'>    
    <div class='col-sm-5 col-sm-offset-1'>
      <h2 class='title'>Sign up</h2>
      <form name='signupForm' role='form'>
        <p class='text-danger' ng-bind="error['']" ng-show="error['']"></p>
        <div class='form-group' ng-class='{"has-error": error.username}'>
          <label for='name'>username:</label> 
          <span class='text-danger pull-right' ng-bind='error.username' ng-show='error.username'></span>
          <input class='form-control' type='text' ng-model='data.username' name='name' required autofocus></input>
        </div>
        <div class='form-group' ng-class='{"has-error": error.email}'>
          <label for='email'>email address:</label>
          <span class='text-danger pull-right' ng-bind='error.email' ng-show='error.email'></span>
          <input class='form-control' type='email' ng-model='data.email' name='email' required ng-change='updateGravatar()'></input>        
        </div>
        <div class='form-group' ng-class='{"has-error": error.password}'>
          <label for='password'>password:</label>
          <span class='text-danger pull-right' ng-bind='error.password' ng-show='error.password'></span>
          <input class='form-control' type='password' ng-model='data.password' name='password' ng-minlength='8' required></input>
        </div>
        <div class='pull-right'>
          <button class='btn btn-primary' type='submit' class='default' ng-click='signup()' ng-disabled='!signupForm.$valid || app.wait'>Sign Up</button>
          <a class='btn btn-default' href='/login'>Cancel</a>
        </div>
        <div class='clearfix'></div>
      </form>
    </div>
    <div class='col-sm-5'>
      <div class='gravatar'>
        <img ng-show='gravatar' src='http://gravatar.com/avatar/{{gravatar}}?d=identicon&s=320'></img>
      </div>
    </div>
  </div>
</dialog>