#backstage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  z-index: 10000;  
  cursor: default;
  overflow-y: auto;
  h1.title {
    color: @brand-primary;
    font-size: 64px;
  }
  .logout {    
    position: fixed;
    bottom: 30px;
    right: 30px;        
    font-size: 24px;
    font-family: icon;    
  }
  .gravatar {
    width: 100%;    
  }
}

#projectList {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  li {    
    padding: 4px 8px;    
    -webkit-transition: -webkit-transform ease 0.1s, background-color ease 0.1s;
    -webkit-transform-origin: 0.5 0.5;
    -webkit-transform: scale(1);
  }
  li:hover {
    background-color: #eee;
  }
  li:active {    
    -webkit-transform: scale(0.95);
  }
  li.current {
    color: white;    
    background: @accent;
    a {
      color: white;
    }
  }
}

.panes {    
  border-top: 10px solid #eee;
  padding-top: 15px;
  overflow: scroll-x;
  display: table-row;
}

#ide {
  z-index: 1;
}
