button {
  margin-left: 8px;
  background-color: rgba(205,205,205,.82);
  border: none;
  outline: none;
  padding: 3px 12px;
  color: #212121;        
  -webkit-transition: -webkit-transform ease 0.1s, background-color ease 0.1s;
  -webkit-transform-origin: 0.5 0.5;
  -webkit-transform: scale(1);  
  &:active {    
    -webkit-transform: scale(0.95);
  }
  &:hover{
    background-color: rgba(205,205,205,.7);
  }
  &.default {
    background-color: @accent;
    color: white; 
    &:hover{
      background-color: lighten(@accent,5%);      
    } 
  }  
  &[disabled=disabled] {
    background-color: rgba(205,205,205,.82);
    color: gray;
    cursor: default;
    &:hover{
      background-color: rgba(205,205,205,.82);
    } 
  }
}

