.dialogContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 1000;
  vertical-align: center;
  .error {
    color: red;        
    &:before {
      font-family: icon;
      content: '\E088';
      margin-right: 4px;      
    }
  }
  .dialog {  
    box-shadow: 0 0 16px #000;      
    top: 50%;
    background-color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    .content{      
      text-align: left;
      width: 400px;
      margin: auto;
      padding: 16px 0 20px 0;
        h1 {
          font-family: "myriad-pro", "Segoe UI Light";
          margin: 0 0px;
          font-weight: 100;
          font-size: 30px;
          margin-top: 0;  
          margin-bottom: 8px;
        }
        input, span {
          display: block;
          width: 100%;
          margin: 8px 0;
        }
        input {
          border: none;
          outline: none;         
          background-color: rgba(205,205,205,.3);
          &.ng-dirty.ng-invalid {
            background-color: rgba(205,155,105,.3)
          }
        }          
         .buttons {
          width: 100%;
          margin-top: 8px;
          text-align: right;
        }     
    }
  }
}