input {
  border: none;
  outline: none;         
  background-color: rgba(205,205,205,.3);
  &.ng-dirty.ng-invalid {
    background-color: rgba(205,155,105,.3)
  }
} 
input[type="checkbox"] {  
  display: none;
}
input[type="checkbox"]+label {  
  display: inline-block;
  &:before{
    vertical-align: bottom;
    padding-right: 6px;
    font-size: 14px;
    width: 12px;
    height: 16px;
    vertical-align: middle;
    line-height: 16px;
    padding-left: 1px;
    display: inline-block;
    font-family: 'icon';
    content: "\f096";
  }
}
input[type="checkbox"]:checked + label {
  &:before {        
    content: "\f046";
  }
}
textarea {
  margin: 8px 0;
  min-height: 5em;
  min-width: 99%;
  max-width: 99%;
  display: block;
  border: none;
  outline: none;
  background-color: rgba(205,205,205,.3);
  &.ng-dirty.ng-invalid {
    background-color: rgba(205,155,105,.3)
  }  
}
select {
  margin: 8px 0;  
  min-width: 99%;
  max-width: 99%;
  display: block;
  border: none;
  outline: none;
  background-color: rgba(205,205,205,.3);
  &.ng-dirty.ng-invalid {
    background-color: rgba(205,155,105,.3)
  }  
}