@import 'reset.less';
@import 'variables.less';
@import 'fonts.less';
@import 'tabs.less';
@import 'modal.less';
@import 'codemirror/codemirror.less';
@import 'codemirror/dialog.less';
@import 'codemirror/show-hint.less';
@import 'sidebar.less';
@import 'statusbar.less';

body {
  user-select: none;
  -webkit-user-select: none;
  font-family: 'myriad-pro', 'Segoe UI', 'Helvetica';
}

.root-enter, .root-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.root-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.root-enter.root-enter-active {
  left:0;
  opacity:1;
}

.root-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.root-leave.root-leave-active {
  left:-100px;
  opacity:0;
}