@import 'reset.less';
@import 'variables.less';
@import 'fonts.less';
@import 'tabs.less';
@import 'modal.less';
@import 'codemirror/codemirror.less';
@import 'codemirror/dialog.less';
@import 'codemirror/show-hint.less';
@import 'sidebar.less';
@import 'statusbar.less';
@import 'buttons.less';
@import 'dialog.less';
@import 'backstage.less';

body {
  background-color: #ccc;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'myriad-pro', 'Segoe UI', 'Helvetica';
}

a {
  text-decoration: none;
  color: @accent;
  &:hover {
    color: lighten(@accent, 5%);
  }
}


h1 {
  font-weight: 100;
  font-size: 26;
  margin: 0;
  margin-bottom: 16px;
}

h2 {
  font-weight: 100;
  font-size: 20;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 16px;
}

#console {  
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  background-color: rgba(0,0,0,0.6);
  padding: 8px;
  font-family: 'inconsolata';
  color: white;
  z-index: 100001;    
  div {
    white-space: pre;  
  }
}

#backstage, #login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#login {
  z-index: 100000;
}

#loading.dialogContainer {  
  z-index: -1;
}

#loading .dialog {
  margin-top: -50px;
}

#login .dialog {
  margin-top: -110px;
}

#login.view-enter, #login.view-leave {
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  -o-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

#login.view-enter {
  opacity:0;
}
#login.view-enter#login.view-enter-active {
  opacity: 1;
}

#login.view-leave {
  opacity:1;
}
#login.view-leave#login.view-leave-active {
  opacity:0;
}

.fadeIn,.fadeOut {
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  -o-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}
.fadeIn{
  opacity:0;
}
.fadeOut{
  opacity:1;
}
.fadeIn.fadeIn-active {
  opacity: 1;
}
.fadeOut.fadeOut-active{
    opacity:0;
}

.expand,.collapse {
  -webkit-transition: -webkit-transform ease 0.2s;  
}
.expand{
  -webkit-transform: scaleY(0.0);
}
.collapse{
  -webkit-transform: scaleY(1.0);
}
.expand.expand-active {
  -webkit-transform: scaleY(1.0);
}
.collapse.collapse-active{
  -webkit-transform: scaleY(0.0);
}


.progress {
  font-size: 0;
  height: 3px;
  overflow: hidden;
  background-color: #ccc;
  div {          
    display: inline;
    height: 3px;
  }
  .finished {
    background-color: @accent;
  }
  .running {
    background-color: white;
  }
  .warned {
    background-color: yellow;    
  }
  .failed {
    background-color: red;
  }
}