@import 'reset.less';
@import 'variables.less';

@import 'clui/dialog.less';
@import 'clui/progress.less';
@import 'clui/spinner.less';
@import 'clui/tabs.less';
@import 'clui/toasts.less';
@import 'clui/contextmenu.less';

@import 'codemirror/codemirror.less';
@import 'codemirror/dialog.less';
@import 'codemirror/show-hint.less';

/*@import 'fonts.less';*/

@import 'buttons.less';
@import 'inputs.less';
@import 'backstage.less';
@import 'sidebar.less';
@import 'statusbar.less';

body {
  background-color: #ccc;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'myriad-pro', 'Segoe UI', 'Helvetica';
}

a {
  text-decoration: none;
  color: @accent;
  cursor: pointer;
  &:hover {
    color: lighten(@accent, 5%);
  }
}

h1 {
  font-weight: 100;
  font-size: 26;
  margin: 0;
  margin-bottom: 12px;
}

h2 {
  font-weight: 100;
  font-size: 20;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 12px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#backstage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#login {
  z-index: 1000;
}

.touchScroll {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-button {
    visibility: hidden;
  }

  &::-webkit-scrollbar-thumb {  
    background: #ccc;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}

#backstageButton {
  z-index: 10000;
  position: fixed;
  top: 3px;
  right: 8px;
}