#toasts {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 400px;
  bottom: 0px;
  background: transparent;
  z-index: 200000000000;
  pointer-events: none;
}

.toast {  
  position: relative;
  display: block;
  margin: 8px;
  padding: 8px 16px;
  padding-right: 30px;
  background-color: @accent;
  color: white;  
  pointer-events: auto;
  &.error {
    background-color: @red;
  }
  &.warn {
    background-color: @orange;
  }
  .close {
    position: absolute;
    right: 0;
    top: 6px;
    bottom: 0;
    margin-right: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: white;
    float: right;    
  }
}

.toasts-enter, 
.toasts-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.toasts-enter.toasts-enter-active, 
.toasts-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.toasts-leave.toasts-leave-active,
.toasts-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}