#toasts {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 16px;
  width: 400px;
  bottom: 0px;
  background: transparent;
  z-index: 200000000000;
  pointer-events: none;
  .toast {
    -webkit-transition: opacity 0.25s linear;
    pointer-events: auto;  }
}