  def mouseTarget: EventTarget
  def click = DOMEvent[MouseEvent](mouseTarget,"click")
  def dblclick = DOMEvent[MouseEvent](mouseTarget,"dblclick")
  def drag = DOMEvent[MouseEvent](mouseTarget,"drag")
  def dragend = DOMEvent[MouseEvent](mouseTarget,"dragend")
  def dragenter = DOMEvent[MouseEvent](mouseTarget,"dragenter")
  def dragleave = DOMEvent[MouseEvent](mouseTarget,"dragleave")
  def dragover = DOMEvent[MouseEvent](mouseTarget,"dragover")
  def dragstart = DOMEvent[MouseEvent](mouseTarget,"dragstart")
  def drop = DOMEvent[MouseEvent](mouseTarget,"drop")
  def mousedown = DOMEvent[MouseEvent](mouseTarget,"mousedown")
  def mousemove = DOMEvent[MouseEvent](mouseTarget,"mousemove")
  def mouseout = DOMEvent[MouseEvent](mouseTarget,"mouseout")
  def mouseover = DOMEvent[MouseEvent](mouseTarget,"mouseover")
  def mouseup = DOMEvent[MouseEvent](mouseTarget,"mouseup")
  def mousewheel = DOMEvent[MouseEvent](mouseTarget,"mousewheel")
  def scroll = DOMEvent[MouseEvent](mouseTarget,"scroll")