@(path: String)
<!DOCTYPE html>
<html lang='en' xmlns:ng="http://angularjs.org">
  <head>
    <base href='/'/>
    <meta charset="utf-8"/>
    <title>Clide 2</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">    
    @helper.requireJs(core = routes.WebJarAssets.at(WebJarAssets.locate("require.js")).url, module=routes.Assets.at("javascripts/main").url)
    <script>var path='@path'</script>
  </head>
  <body ng-controller='AppController' ng-class='{wait: app.wait}'>
    <noscript>
      <div class='dialogContainer2'>
        <div class='dialog'>
          <div class='content'>
            <h1>JavaScript is Disabled</h1>
            Your browser does not seem to execute JavaScript. Please enable and reload.
          </div>
        </div>
      </div>
    </noscript>            
    <div id='loading' class='dialogContainer'>
      <div class='dialogContainer2'>
        <div class='dialog'>
          <div class='content'>
            <h1>loading</h1>
            please wait, while clide is getting ready for you.
          </div>
        </div>
      </div>
    </div>
    <div id='toasts' ng-show='toasts.length > 0'>
      <div ng-repeat='toast in toasts track by $index' ng-class='{ toast: true }' ng-class='toast.type' ng-animate="'toasts'">
        <span ng-bind='toast.message'></span>
        <a class='close' ng-click='toast.remove()'><i class='icon-remove'></i></a>
      </div>
    </div>
    <div id='console' ng-show="app.wait" ng-animate="{show: 'fadeIn', hide:'fadeOut'}" style="display:none">
      <div ng-repeat='line in console.lines track by $index' ng-bind='line.text' ng-class='line.type' style="display:none"></div>
    </div>
    <div id='dialog' class='dialogContainer' style="display:none" ng-show='dialog.show'>
      <div class='dialogContainer2'>
        <div class='dialog'>
          <div class='content'>
            <h1 ng-bind='dialog.title'></h1>
            <span ng-bind='dialog.message'></span>          
            <div ng-repeat='query in dialog.queries'>
              <span ng-bind='query.text'></span>
              <input placehoder='{{query.placeholder}}' ng-model='query.value'></input>
            </div>
            <div class='buttons'>
              <button ng-repeat='button in dialog.buttons' ng-bind='button.text' ng-class='{ default: $index == 0 }'/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='root' ng-view ng-animate='{enter: "view-enter", leave: "view-leave"}'>      
    </div>
  </body>
</html>