@(path: String)
<!DOCTYPE html>
<html lang='en' xmlns:ng="http://angularjs.org">
  <head>
    <base href='/'/>
    <meta charset="utf-8"/>
    <title ng-bind="'clide - ' + title">clide</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    @helper.requireJs(core = routes.WebJarAssets.at(WebJarAssets.locate("require.js")).url, module=routes.Assets.at("javascripts/main.min.js").url)
    <script>var path='@path'</script>
  </head>
  <body ng-controller='AppController' ng-class='{wait: app.wait}'>           
    <div id='loading' class='dialogContainer'>
      <div class='dialogContainer2'>
        <div class='dialog'>
          <div class='content'>
            <h1>loading</h1>
            please wait, while clide is getting ready for you.
          </div>
        </div>
      </div>
    </div>
    <noscript>
      <div class='dialogContainer'>
        <div class='dialogContainer2'>
          <div class='dialog'>
            <div class='content'>
              <h1>JavaScript is Disabled :(</h1>
              Your browser does not seem to execute JavaScript. Please enable and reload.
            </div>
          </div>
        </div>
      </div>
    </noscript>    
    <div ng-include='"/assets/partials/clui/toasts.html"'></div>
    <div ng-include='"/assets/partials/clui/dialog.html"'></div>
    <div ng-include='"/assets/partials/clui/contextmenu.html"'></div>
    <div id='root' ng-view>      
    </div>
  </body>
</html>