@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/lib/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/backbone.js")" type="text/javascript"></script>
        @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module=routes.Assets.at("javascripts/main").url)
    </head>
    <body>
        @content
    </body>
</html>
